<div class="body">
  <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing</a> elit. Recusandae dolore, error dolor cupiditate perferendis doloremque maiores vel vitae ullam natus, eligendi velit unde ratione facere minus a doloribus ipsum possimus.</p>
  <hr>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolore, error dolor cupiditate perferendis doloremque maiores vel vitae ullam natus, eligendi velit unde ratione facere minus a doloribus ipsum possimus.</p>
  <h3>Error dolor cupiditate perferendis doloremque</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolore, error dolor cupiditate perferendis doloremque maiores vel vitae ullam natus, eligendi velit unde ratione facere minus a doloribus ipsum possimus.</p>
  <blockquote>
    <p>Perferendis doloremque maiores vel vitae ullam natus, eligendi velit unde ratione facere minus a doloribus ipsum possimus.</p>
  </blockquote>
  <h3>Unordered list</h3>
  <ul>
    <li>Unordered list item</li>
    <li>Unordered list item</li>
    <li>Unordered list item</li>
    <li>Unordered list item</li>
  </ul>
  <h3>Ordered list</h3>
  <ol>
    <li>Ordered list item</li>
    <li>Ordered list item</li>
    <li>Ordered list item</li>
    <li>Ordered list item</li>
  </ol>
  <div class='embed-container'>
    <iframe src='https://www.youtube.com/embed/gHiqPG0526U' allowfullscreen></iframe>
  </div>
  <div class='embed-container'>
    <iframe src='https://player.vimeo.com/video/126360743' allowFullScreen></iframe>
  </div>
</div>