<li class="activities-item">
  <article class="activity">
    <a href="#" class="activity__link">
      <h1 class="activity__title">Is there life on Mars?</h1>
      <h2 class="activity__subtitle">Compagnie What's up?!</h2>
      <div class="activity__time">
        <time datetime="2017-05-05">05</time> - <time datetime="2017-05-13">13.05.2017</time>          
      </div>
    </a>
    <a href="#" class="activity__ticket-link">Billets</a>
  </article>
</li>