<li class="activities-item">
  <article class="activity">
    <a href="../../patterns/templates-activity/templates-activity.html" class="activity__link">
      <div class="activity__block">
        <figure class="activity__figure">
          <div class="figure__inner" style="background-image:url('../../../../assets/images/activity.jpg')"></div>
          <img src="../../../../assets/images/activity.jpg" alt="Activity Title">
        </figure>
      </div>
      <div class="activity__block">
        <h2 class="activity__title">Is there life on Mars?</h2>
        <h3 class="activity__subtitle">Compagnie What's up?!</h3>
        <p class="activity__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae maxime architecto, temporibus dolor.</p>
        <div class="activity__time">
          <time datetime="2017-05-05">05</time> - <time datetime="2017-05-13">13.05.2017</time>          
        </div>
      </div>
    </a>
    <div class="activity__block">
      <a href="#" class="activity__ticket-link">Billets</a>
       <ul class="tags icon icon--tag">
        <li class="tags__item"><a href="#" class="tags__link">Théâtre</a></li>
        <li class="tags__item"><a href="#" class="tags__link">Nature</a></li>
      </ul>    </div>
  </article>
</li>