/*------------------------------------*\
  #ACTIVITIES-ITEM
\*------------------------------------*/


.activities-item {
  .activity {
    margin-bottom: $spacing-xl;  
  }
  list-style: none;
}

.activity__link {
  display: block;
  text-decoration: none;
  color: $base-color;
  transition: opacity .1s ease-in-out;
  opacity: 1;
  &:hover {
    text-decoration: none;
    color: inherit;
    opacity: .8;
  }
}

.activity__figure {
  @include aspect-ratio(4, 3);
  position: relative;
  margin-bottom: $spacing-xs;
  .figure__inner {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  img {
    display: none;
  }
}

.activity__title,
.activity__subtitle,
.activity__excerpt,
.activity__time {
  margin-bottom: $spacing-xxs;
}

.activity__title {
  @extend %font-var;
  @extend %font-size-xl;
  line-height: 1;
  .banner &,
  .activity__section:not(.related) & {
    @extend %font-size-xxxl;
    line-height: 1;
  }
  .banner & {
    margin-bottom: 0;
    @media (max-width: $screen-xs-max) {
      font-size: 10vw;
    }
    @media (min-width: $screen-xs-min) and (max-width: $screen-md-max) {
      font-size: 4vw;
    }
  }
}

.activity__subtitle {
  @extend %font-var;
  @extend %font-size-xl;
  line-height: 1;
  color: $grey-light;
  .banner &,
  .activity__section:not(.related) & {
    @extend %font-size-lg;
    margin-bottom: $spacing-xs;
  }
}

.activity__excerpt {
  @extend %font-body;
  @extend %font-size-md;
  .banner &,
  .activity__section:not(.related) & {
    @extend %font-size-lg;
  }
}

.activity__time {
  @extend %font-var;
  @extend %font-size-lg;
  color: $grey-dark;
  .banner &,
  .activity__section:not(.related) & p {
    @extend %font-var;
    @extend %font-size-xxl;
    margin-bottom: 0;
  }
}

.activity__ticket-link {
  color: $body-color;
  padding: $spacing-xxs $spacing-xs $spacing-xxs $spacing-md;
  margin-top: $spacing-xs;
  @extend %font-size-sm;
  text-decoration: none;
  display: inline-block;
  background: $action url('images/icon-ticket.svg') $spacing-xxs center no-repeat;
  &:hover {
    color: $body-color;
    text-decoration: none;
    background-color: $grey-darker;
  }
  .banner &,
  .activity__section:not(.related) & {
    @extend %font-size-md;
    margin-top: $spacing-xs;
  }
}

.activity__tag-link {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: $grid-gutter-width;
  left: $grid-gutter-width;
}

.banner {
  .activity__title,
  .activity__subtitle,
  .activity__time {
    color: $body-color;
  }
}