/*------------------------------------*\
  #ACTIVITY-NAV
\*------------------------------------*/

.activity__nav {
  background-color: $body-color;
  border-bottom: $border-width-sm solid $grey;
  z-index: 3;
  .nav__list {
    display: flex;
    flex-wrap: nowrap;
  }
  .nav__item {
    margin-right: $spacing-sm;
    @media (max-width: $screen-xs-max) {
      margin-right: $spacing-sm;
    }
  }
  .nav__link {
    padding: $spacing-sm 0;
    display: block;
    color: $base-color;
    @extend %font-body-bold;
    text-decoration: none;
    border-bottom: $border-width-md solid transparent;
    &:hover {
      border-color: $action;
    }
  }
}

.active,
.current-menu-item {
  .nav__link {
    // color: $action-response;
    border-bottom: $border-width-md solid $action;
  }
}

@media (max-width: $screen-xxs-max) {
  .activity__nav {
    position: static !important;
    & + .spacer {
      display: none !important;
    }
  }
}