/*------------------------------------*\
  #ACTIVITIES-ITEM--COMPACT
\*------------------------------------*/

.activities-list--compact .activity__link {
  display: flex;
  & > .activity__block:first-of-type {
    @extend .col-xs-4;
    padding-left: 0;
    .activity__figure:before {
      content: none;
    }
    .activity__block {
      display: flex;
      align-items: stretch;
    }
    .activity__block,
    .activity__figure,
    .figure__inner {
      height: 100%;
    }
    .activity__figure {
      height: 100px;
    }
  }
  & > .activity__block:last-of-type {
    @extend .col-xs-8;
    padding-right: 0;
  }
}