/*------------------------------------*\
  #ACTIVITIES-ITEM-FULL
\*------------------------------------*/

.activities-item--full {
  @media (min-width: $screen-xs-min) {
    padding: 0;  
  }
  overflow: hidden;
  .activity {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin-bottom: 0;
    @media (max-width: $screen-xxs-max) {
      right: $grid-gutter-width;
      bottom: $grid-gutter-width;
      left: $grid-gutter-width;
    }
  }
  .activity__link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: $grid-gutter-width;
    &:hover {
      opacity: 1;
      &:before {
        opacity: 0;
      }
    }
    &:before {
      opacity: 1;
      content: "";
      display: block;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      background-color: rgba($base-color, .3);
      transition: opacity .3s ease-in-out;
    }
  }
  .activity__ticket-link {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
  }
  .activity__title,
  .activity__subtitle,
  .activity__time {
    color: $body-color;
    position: relative;
    z-index: 3;
  }
  .activity__title {
    margin-bottom: 0;
  }
  .activity__subtitle {
    @extend %font-body-bold;
    @extend %font-size-md;
  }
}

.activities-item--small {
  @include aspect-ratio(2, 3);
  @extend .col-sm-4;
}

.activities-item--medium {
  @extend .col-sm-6;
  @include aspect-ratio(4, 3);
}

.activities-item--large {
  @include aspect-ratio(6, 3);
  @media (min-width: $screen-sm-min) {
    .activity__title {  
      font-size: $font-size-xxl;
      line-height: 1;
    }
    .activity__time {
      font-size: $font-size-xxl;
      line-height: $line-height;
    }
  }
}

.activities-item--small,
.activities-item--medium,
.activities-item--large {
  @extend .col-xs-12;
  @media (max-width: $screen-xs-max) {
    @include aspect-ratio(4, 3);  
  }
}

.activity__link--bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.activity__link--bg-video {
  position: relative;
  display: block;
  @media (min-width: $screen-xs-min) {
    background-image: none !important;
  }
  @media (max-width: $screen-xxs-max) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .bg-video {
    @media (max-width: $screen-xxs-max) {
      display: none;
    }
    @media(min-width: $screen-xs-min) {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
    }
  }
}

