/*------------------------------------*\
  #BANNER
\*------------------------------------*/

.banner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-top: $spacing-xl;
  padding-bottom: $spacing-xl;
  @media (max-width: $screen-xxs-max) {
    height: auto !important;
    padding-top: $spacing-xxl*2;
    padding-bottom: $spacing-xxl*2;
  }
  & > .container {
    width: 100%;
  }
  .activity__subtitle {
    @extend %font-body-bold;
    @extend %font-size-sm;
  }
}

.banner__content {
  position: relative;
  z-index: 3;
}

.banner__logo {
  @media (min-width: $screen-md-min) and (min-height: 650px) {
    position: absolute;
    z-index: 2;
    top: 0; right: 0; bottom: 0; left: 0;
    background: url('images/tn-logo-mini.svg') center 40% no-repeat;
    background-size: 180px;
  }
}

.banner:after {
  content: "";
  display: block;
  width: 100%;
  height: 30%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, black, transparent);
}