/*------------------------------------*\
  #BREADCRUMB
\*------------------------------------*/


.breadcrumb {
  padding: $spacing-md 0;
  .nav__item {
    display: inline-block;
    &:not(:last-of-type):after {
      content: "/";
      display: inline-block;
      margin-left: .3em;
    }
  }
  .nav__link {
    color: $grey-dark;
    @extend %font-body-italic;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    border: none;
  }
}

.breadcrumb .active .nav__link {
  text-decoration: underline;
}