/*------------------------------------*\
  #CALENDAR
\*------------------------------------*/

.calendar {
  background-color: $grey-lighter;
  padding: $spacing-md 0;
  margin-bottom: $grid-gutter-width*2;
}
.calendar a {
  display: inline-block;
  text-decoration: none;
  border-bottom: 2px solid $base-color;
  &:hover {
    border-color: $action;
  }
}

.calendar__nav {
  margin-bottom: $spacing-md;
  text-align: center;
  & > a {
    border: none;
  }
  time a {
    @extend %font-var;
    @extend %font-size-xl;
    border: none;
  }
  .icon {
    overflow: hidden;
    text-indent: -100000em;
    background-position: center;
    width: 60px;
  }
}

.calendar__table {
  width: 100%;
  max-width: 450px;
  margin: auto;
  td,
  th {
    text-align: center;
    @extend %font-var;
    span {
      display: block;
      padding: $spacing-xxs $spacing-xxs;;  
    }
    a {
      color: $grey-light;
      border-color: $grey-light;
      display: inline-block;
      &:hover {
        color: $action;
        border-color: $action;
      }
    }
  }
  th {
    @extend %font-size-md;
  }
  td {
    @extend %font-size-lg;
    color: $grey-light;
  }
  .today a {
    border-color: $base-color;
    color: $base-color;
  }
}