/*------------------------------------*\
  #CALENDAR-RESULTS
\*------------------------------------*/


.calendar-results__item {
  list-style: none;
  @media (min-width: $screen-sm-min) {
    border-top: $border-width-sm solid $base-color;  
    padding-top: $spacing-lg;
  }
  @media (min-width: $screen-sm-min) {
    display: flex;
    .calendar-results__date {
      width: 33%;
    }
    .calendar-results__list {
      flex: 1;
    }
  }
}

.calendar-results__date {
  time {
    @media (min-width: $screen-sm-min) {
      text-align: center;
      display: inline-block;
    }
  }
  b {
    @media (min-width: $screen-sm-min) {
      display: block;
    }
    @extend %font-var;
    @extend %font-size-xxl;
    line-height: 1;
    margin-top: .2em;
  }
  @media (max-width: $screen-xs-max) {
    margin-bottom: $spacing-xl;
    border-bottom: $border-width-sm solid $grey-light;
    padding-top: $spacing-lg;
    padding-bottom: $spacing-md;
    b {
      margin: 0 .2em;
    }
  }
}

