/*------------------------------------*\
  #EVENTS-ITEM
\*------------------------------------*/

.events-item {
  list-style: none;
  margin-bottom: $spacing-lg;
}

.event__title,
.event__time {
  @extend %font-var;
  @extend %font-size-lg;
  margin-bottom: 0;
}

.event__subtitle {
  @extend %font-body;
  @extend %font-size-md;
  margin-bottom: .2em;
}

.button--more {
  display: block;
  color: $grey-dark;
  &:before {
    content: "+";
    display: inline-block;
    margin-left: .2em;
  }
}