/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer__links {
  background-color: $grey-dark;
  color: $body-color;
  padding-top: $spacing-xl;
  h2 {
    @extend %font-size-lg;
    @extend %font-var;
    margin-bottom: $spacing-sm;
    display: block;
    width: 100%;
  }
  a {
    color: $body-color;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      color: $grey-light;
    }
  }
  p {
    margin-bottom: .5em;
    font-size: .9em;
  }
  li {
    margin-bottom: .5em;
    list-style: none;
  }
}

.footer__section {
  margin-bottom: $spacing-xl;
}

.form--newsletter {
  legend {
    display: none;
  }
  .form__input,
  .form__submit {
    width: 100%;
    height: 2.5em;
    @extend %font-size-md;
    @extend %font-body;
    font-size: .9em;
    outline: none;
    background-color: transparent;
  }
  .form__input {
    color: $body-color;
    border: $border-width-sm solid $body-color;
    padding: 0 $spacing-sm;
    max-width: 300px;
  }
  .form__submit {
    margin-top: $spacing-xxs;
    border: none;
    text-align: left;
    color: $body-color;
    text-decoration: underline;
    &:hover {
      color: $grey-light;
    }
  }
}

.footer__info {
  background-color: $base-color;
  padding: $spacing-sm 0;
}

.social-list a {
  font-size: .9em;
}