/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header__inner {
  z-index: 999;
}

.header__nav .nav__link {
  padding: $spacing-sm $grid-gutter-width/2;
}

.header__nav--base {
  .nav__list {
    display: flex;
  }
  .nav__item {
    height: 60px;
    @media (max-width: $screen-xs-max) {
      height: 50px;
    }
    @media (min-width: $screen-lg-min) {
      height: 70px; 
    }
    .nav__link {
      height: 100%;
    }
  }
  .nav__item:nth-of-type(-n+4) {
    width: 20%;
  }
  .nav__item:nth-of-type(n+5) {
    width: 5%;
    min-width: 60px;
    .nav__link {
      height: 100%;
      @extend %font-body;
      font-size: .65em;
    }
  }
  .nav__item:nth-of-type(1) a,
  .nav__item:last-of-type a  {
    background-color: $grey-darker;
  }
  .nav__item:nth-of-type(3) a {
    background-color: $grey;
  }
  .nav__item:nth-of-type(4) a {
    background-color: $grey-light;
  }
  .nav__link--highlight {
    background-color: $action;
  }
}

.header__nav .nav__link {
  background-color: $grey-dark;
  &--highlight {
    background-color: $action;
  }
}

.header__nav .nav__link {
  @extend %font-var;
  @extend %font-size-xl;
  color: $body-color;
  text-align: center;
  display: block;
  height: 100%;
  &:not(:hover) {
    text-decoration: none;
  }
}

.nav__link--logo img {
  width: 166px; // pour IE
  height: 33px; // pour IE
}

.header__nav .nav__link--icon {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center 35%;
  background-size: 20px;
  &.icon--abo {
    background-size: 16px;
    background-color: $purple;
  }
  padding: $spacing-xs $grid-gutter-width/2;
  &.active {
    background-size: 16px;
  }
}

// nav mobile order
@media (max-width: $screen-xs-max) {
  .header__nav--base {
    .nav__list {
      flex-wrap: wrap;
    }
    .nav__item:nth-of-type(1) {
      min-width: 50%;
    }
    .nav__item:nth-of-type(n+5) {
      flex: auto;
    }
    .nav__item:nth-of-type(-n+4) {
      width: calc(100% / 3);
    }
    .nav__item:nth-of-type(2) {
      order: 5;
    }
    .nav__item:nth-of-type(3) {
      order: 6;
    }
    .nav__item:nth-of-type(4) {
      order: 7;
    }
  }
  .header__nav--base .nav__link {
   font-size: 1.2em;
  }
}
@media (max-width: $screen-xxs-max) {
  .header__nav--base {
    .nav__item:nth-of-type(6) {
      display: none;
    }
  }
}



// nav extended
.header__nav.header__nav--extended {
  position: absolute;
  z-index: 999;
  top: auto;
  &.overflow {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  @media (max-width: $screen-xs-max) {
    left: 0;
    width: 100%;
  }
  @media (min-width: $screen-sm-min) {
    min-width: 240px;
    width: 20%;
    position: absolute;
    z-index: 999;
    right: 0;
  }
  display: none;
  .nav__link {
    @extend %font-body-bold;
    @extend %font-size-md;
    padding: $spacing-xs $grid-gutter-width/2;
    border-top: $border-width-sm solid $grey-light;
    text-align: left;
  }
  .nav__link--parent {
    position: relative;
    &:not(.is-open):after {
      content: "…";
      display: block;
      color: $body-color;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: $spacing-xs;
    }
  }
  .nav__sublist {
    list-style: none;
    display: none;
    .nav__item {
      position: relative;
      &:before {
        content: "⸰";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: $body-color;
        font-size: 140%;
        left: $spacing-xs;
      }
    }
  }
  .nav__sublist .nav__link {
    @extend %font-body;
    @extend %font-size-md;
    border-color: rgba($grey-light, .4);
    padding-left: $spacing-md;
  }
}

.header__tools {
  background-color: $base-color;
}

.lang__list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  li {
    margin-left: $spacing-xxs;
    &:not(:last-of-type):after {
      content: "/";
      display: inline-block;
      color: $grey-light;
      margin-left: $spacing-xxs;
    }
  }
  a {
    @extend %font-size-sm;
    color: $body-color;
    padding: $spacing-xs 0;
    display: inline-block;
    text-decoration: none;
    &:not(.current) {
      opacity: .5;
      &:hover {
        opacity: 1;
      }
    }
  }
  
}
