/*------------------------------------*\
  #ICON
\*------------------------------------*/

.icon {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: $spacing-md;
}

.icon--abo {
  background-image: url('images/icon-abo.svg');
}
.icon--agenda {
  background-image: url('images/icon-agenda.svg');
}
.icon--arrow {
  background-image: url('images/icon-arrow.svg');
}
.icon--arrow-next {
  background-image: url('images/icon-arrow-next.svg');
  &:hover {
    background-image: url('images/icon-arrow-next-active.svg');
  }
}
.icon--arrow-prev {
  background-image: url('images/icon-arrow-prev.svg');
  &:hover {
    background-image: url('images/icon-arrow-prev-active.svg');
  }
}
.icon--back {
  background-image: url('images/icon-back.svg');
  padding-left: $spacing-xl;
}
.icon--child {
  background-image: url('images/icon-child.svg');
}
.icon--facebook {
  background-image: url('images/icon-facebook.svg');
}
.icon--file {
  background-image: url('images/icon-file.svg');
  background-size: auto 100%;
}
.icon--grande-scene {
  background-image: url('images/icon-grande-scene.svg');
}
.icon--googleplus {
  background-image: url('images/icon-googleplus.svg');
}
.icon--instagram {
  background-image: url('images/icon-instagram.svg');
}
.icon--lang {
  background-image: url('images/icon-lang.svg');
}
.icon--mail {
  background-image: url('images/icon-mail.svg');
}
.icon--map {
  background-image: url('images/icon-map.svg');
}
.icon--menu {
  background-image: url('images/icon-menu.svg');
  &.active {
    background-image: url('images/icon-menu-closed.svg');
  }
}
.icon--order {
  background-image: url('images/icon-order.svg');
}
.icon--phone {
  background-image: url('images/icon-phone.svg');
}
.icon--pointer {
  background-image: url('images/icon-pointer.svg');
}
.icon--pointer-black {
  background-image: url('images/icon-pointer-black.svg');
}
.icon--studio {
  background-image: url('images/icon-studio.svg');
}
.icon--ticket {
  background-image: url('images/icon-ticket.svg');
}
.icon--ticket-black {
  background-image: url('images/icon-ticket-black.svg');
}
.icon--time-black {
  background-image: url('images/icon-time-black.svg');
}
.icon--time {
  background-image: url('images/icon-time.svg');
}
.icon--toernee-general {
  background-image: url('images/icon-toernee-general.svg');
}
.icon--twitter {
  background-image: url('images/icon-twitter.svg');
}
.icon--tag {
  background-image: url('images/icon-tag.svg');
}
.icon--tag-white {
  background-image: url('images/icon-tag-white.svg');
}
.icon--vernissage {
  background-image: url('images/icon-vernissage.svg');
}