/*------------------------------------*\
  #TAGS
\*------------------------------------*/

.tags {
  margin-bottom: $spacing-md;
}

.tags__item {
  display: inline-block;
  &:not(:last-of-type) {
    margin-right: $spacing-xxs;
  }
}

.tags__link {
  color: $grey-dark;
  &:hover {
    color: $action;
  }
}

.activities-item .tags {
  background-size: 15px;
  padding-left: 1.4rem;
  margin-top: $spacing-xs;
  margin-bottom: 0;
  .tags__link {
    @extend %font-size-sm;
  }
}