<!DOCTYPE html>
<html lang="fr" class="{{ htmlClass }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../../../../assets/screen.css?{{ cacheBuster }}">
    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->
  </head>
  <body class="{{ bodyClass }}">
    
