<header class="header header--primary">
  <div class="header__tools">
    <div class="container">
      <ul class="lang__list">
        <li><a href="#" class="current">FR</a></li>
        <li><a href="#">NL</a></li>
        <li><a href="#">EN</a></li>
      </ul>
    </div>
  </div>
  <div class="header__inner">
    <h1 aria-hidden="true" class="hidden">Théâtre National</h1>
    <nav class="header__nav header__nav--base nav">
      <ul class="nav__list">
        <li class="nav__item logo">
          <a href="{{ link.templates-homepage }}" class="nav__link nav__link--logo">
            <img src="../../../../assets/images/tn-logo.svg" alt="Théâtre National">
          </a>
        </li>
        <li class="nav__item"><a href="{{ link.templates-programme }}" class="nav__link">Programme</a></li>
        <li class="nav__item"><a href="{{ link.templates-backstage }}" class="nav__link">Backstage</a></li>
        <li class="nav__item"><a href="{{ link.templates-saison-libre }}" class="nav__link">Saison libre</a></li>
        <li class="nav__item"><a href="" class="nav__link nav__link--highlight nav__link--icon icon--ticket">Billets</a></li>
        <li class="nav__item"><a href="{{ link.templates-agenda }}" class="nav__link nav__link--icon icon--abo">Abo</a></li>
        <li class="nav__item hidden-mobile"><a href="{{ link.templates-tags }}" class="nav__link nav__link--icon icon--tag-white">Tags</a></li>
        <li class="nav__item"><a href="#" class="nav__link nav__link--icon icon--menu" id="menu-toggle">Menu</a></li>
      </ul>
    </nav>
    <nav class="header__nav header__nav--extended nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="{{ link.templates-agenda }}" class="nav__link">Agenda</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Navigation Item</a></li>
        <li class="nav__item nav__item--with-sub">
          <a href="#" class="nav__link nav__link--parent">Navigation Item</a>
          <ul class="nav__sublist">
            <li class="nav__item"><a href="#" class="nav__link">Subnavigation Item</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Subnavigation Item</a></li>
          </ul>
        </li>
        <li class="nav__item hidden-mobile"><a href="#" class="nav__link">Navigation Item</a></li>
        <li class="nav__item hidden-desktop"><a href="#" class="nav__link">Navigation Item</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Navigation Item</a></li>
      </ul>
    </nav>
  </div>
</header>