@font-face {
  font-family: 'bebas';
  src: url('fonts/BebasNeue.eot');
  src: url('fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
    url('fonts/BebasNeue.woff2') format('woff2'),
    url('fonts/BebasNeue.woff') format('woff'),
    url('fonts/BebasNeue.ttf') format('truetype'),
    url('fonts/BebasNeue.svg#BebasNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'akkurat';
  src: url('fonts/Akkurat.eot');
  src: url('fonts/Akkurat.eot?#iefix') format('embedded-opentype'),
    url('fonts/Akkurat.woff2') format('woff2'),
    url('fonts/Akkurat.woff') format('woff'),
    url('fonts/Akkurat.ttf') format('truetype'),
    url('fonts/Akkurat.svg#Akkurat') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'akkurat-bold-italic';
  src: url('fonts/Akkurat-BoldItalic.eot');
  src: url('fonts/Akkurat-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/Akkurat-BoldItalic.woff2') format('woff2'),
    url('fonts/Akkurat-BoldItalic.woff') format('woff'),
    url('fonts/Akkurat-BoldItalic.ttf') format('truetype'),
    url('fonts/Akkurat-BoldItalic.svg#Akkurat-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'akkurat-italic';
  src: url('fonts/Akkurat-Italic.eot');
  src: url('fonts/Akkurat-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/Akkurat-Italic.woff2') format('woff2'),
    url('fonts/Akkurat-Italic.woff') format('woff'),
    url('fonts/Akkurat-Italic.ttf') format('truetype'),
    url('fonts/Akkurat-Italic.svg#Akkurat-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'akkurat-bold';
  src: url('fonts/Akkurat-Bold.eot');
  src: url('fonts/Akkurat-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Akkurat-Bold.woff2') format('woff2'),
    url('fonts/Akkurat-Bold.woff') format('woff'),
    url('fonts/Akkurat-Bold.ttf') format('truetype'),
    url('fonts/Akkurat-Bold.svg#Akkurat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}