/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

// patternlab only
.sg-main {
  padding: 2rem;
}

img, video, object {
  max-width: 100%;
  height: auto;
}

img {
  display: block;
}

.hidden {
  display: none !important;
}

.hidden-mobile {
  @media (max-width: $screen-xs-max) {
    display: none !important;
  }
}
.hidden-desktop {
  @media (min-width: $screen-sm-min) {
    display: none !important;
  }
}

.nav__list {
  list-style: none;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}