/*------------------------------------*\
    #CORE TYPOGRAPHY
\*------------------------------------*/


h1,
h2,
h3,
h4,
h5,
h6 {
 @extend %font-body-bold;
}

h3 {
  @extend %font-size-lg;
}

p + h2,
ul:not(.tags) + h2,
ol + h2,
blockquote + h2,
p + h3,
ul + h3,
ol + h3,
blockquote + h3,
p + h4,
ul + h4,
ol + h4,
blockquote + h4 {
  margin-top: 1.2em;
}
h2,
h3,
h4,
blockquote {
  margin-bottom: .6em;
}
h2 + h3,
h3 + h4 {
  margin-top: 0;
}

.body ul,
.body ol,
.body .embed-container {
  margin-bottom: $spacing-md;
}

p {
  @extend %font-body;
  margin-bottom: .5em;
}

blockquote {
  padding-left: $spacing-md;
  border-left: $border-width-md solid $grey;
  margin-top: 1em;
  p {
    @extend %font-body-italic;
  }
}

a {
  color: $action-response;
  text-decoration: underline;
  &:hover {
    color: $action;
    text-decoration: underline;
  }
}

em,
i{
  @extend %font-body-italic;
}

b,
strong{
  @extend %font-body-bold;
}

em > b,
b > em,
i > b,
b > i,
em > strong,
strong > em,
i > strong,
strong > i {
  @extend %font-body-bold-italic;
}

p sub, p sup {
  font-size: .75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

p sup {
  top: -0.5em;
}

p sub {
  bottom: -0.25em;
}

p small{
  @extend %font-size-sm;
}

p abbr {
  border-bottom: $border-width-sm dotted $base-color;
  cursor: help;
}

p q,
p cite {
 &:before {
    content:'"';
 }
 &:after {
    content:'"';
 }
}

p mark {
  background-color: rgba($base-color, .6);
  color: $base-color;
}

p code,
p samp,
pre {
  font-family: monospace;
  @extend %font-size-md;
}

hr {
  background: $grey-dark;
  height: $border-width-sm;
  border: none;
  margin: $spacing-lg 0;
}

figcaption {
  @extend %font-size-sm;
  margin-top: $spacing-xs;
}

ol, ul, pre, dl {
  @extend %font-size-md;
}


/*------------------------------------*\
  #DEFINITIONS
\*------------------------------------*/


dl {
  @extend %font-size-md;
  dt {
    @extend %font-body-bold;
    padding-bottom: .3em;
    &:first-of-type {
      padding-top: .6em;
      border-top: $border-width-sm solid $base-color;
    }
  }
  dd {
    padding-bottom: .6em;
    margin-bottom: .6em;
    border-bottom: $border-width-sm $base-color solid;
  }
}



/*------------------------------------*\
  #ORDERED
\*------------------------------------*/


.body ol {
  counter-reset:li;
  list-style: none;
  li {
    position: relative;
    padding-left: 1.2em;
    @extend %font-size-md;
    margin-bottom: .5em;
    &:before {
      content:counter(li);
      counter-increment:li;
      position: absolute;
      left: 0;
      @extend %font-body;
      font-size: 1em;
      color: rgba($base-color, .5);
    }
  }
  ol > li:first-of-type {
    margin-top: .5em;
  }
}


/*------------------------------------*\
  #UNORDERED
\*------------------------------------*/


.body ul {
  list-style: none;
  li {
    position: relative;
    padding-left: 1.2em;
    @extend %font-size-md;
    margin-bottom: .5em;
    &:before {
      content: "-";
      position: absolute;
      left: 0;
      @extend %font-body;
      font-size: 1em;
    }
  }
  ol > li:first-of-type {
    margin-top: .5em;
  }
}



/*------------------------------------*\
  #TABLE
\*------------------------------------*/


.body table {
  width: 100%;
  thead {
    border-bottom: $border-width-md solid $base-color;
  }
  th {
    text-align: left;
    @extend %font-body-bold;
  }
  tbody tr {
    &:nth-child(odd) {
      background-color: rgba($base-color, .1);
    }
  }
  tfoot {
    border-top: $border-width-md solid $base-color;
  }
  th,
  td {
    padding: .5em 0;
  }
  @media (max-width: $screen-xs-max) {
    th,
    td {
      display: block;
    }
  }
}
