/*------------------------------------*\
  #COLORS
\*------------------------------------*/


// Main colour palette
$white            : #FFFFFF;
$black            : #110D0D;

$grey-lighter     : #F5F0F0;
$grey-light       : #726D6D;
$grey             : #5E5959;
$grey-dark        : #423D3D;
$grey-darker      : #201C1C;

$red              : #FF4B4B;
$purple           : #90054B;

// Assign colours to variable roles
$body-color       : $white;
$base-color       : $black;
$action           : $red;
$action-response  : $grey-dark;



/*------------------------------------*\
  #BREAKPOINTS
\*------------------------------------*/

// Extra small screen / phone
$screen-xs:                  600px !default;
$screen-xs-min:              $screen-xs !default;

// Small screen / tablet
$screen-sm:                  900px !default;
$screen-sm-min:              $screen-sm !default;

// Medium screen / desktop
$screen-md:                  1200px !default;
$screen-md-min:              $screen-md !default;

// Large screen / wide desktop
$screen-lg:                  1600px !default;
$screen-lg-min:              $screen-lg !default;

// So media queries don't overlap when required, provide a maximum
$screen-xxs-max:             ($screen-xs-min - 1) !default;
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

// Number of columns in the grid.
$grid-columns:              12 !default;
//Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         20px !default;


/*------------------------------------*\
  #BORDERS WIDTH
\*------------------------------------*/


$border-width-sm         : 1px;
$border-width-md         : $border-width-sm*3;



/*------------------------------------*\
  #FONTS
\*------------------------------------*/


%font-body {
  font-family: "akkurat", Helvetica, Arial, sans-serif;
}

%font-body-italic {
  font-family: "akkurat-italic", Helvetica, Arial, sans-serif;
}

%font-body-bold {
  font-family: "akkurat-bold", Helvetica, Arial, sans-serif;
}

%font-body-bold-italic {
  font-family: "akkurat-bold-italic", Helvetica, Arial, sans-serif;
}

%font-var {
  font-family: "bebas", Times, Georgia, serif;
  letter-spacing: .015em;
  word-spacing: -.05em;
}

/*------------------------------------*\
    #TYPESIZE/SCALE
\*------------------------------------*/

$font-base         : 1rem;
$line-height       : 1.4;

$font-size-xs      : $font-base / 4 * 2;  // 8
$font-size-sm      : $font-base / 4 * 3;  // 12
$font-size-md      : $font-base;          // 16
$font-size-lg      : $font-base / 4 * 5;  // 20
$font-size-xl      : $font-base / 4 * 6;  // 24
$font-size-xxl     : $font-base / 4 * 8;  // 32
$font-size-xxxl    : $font-base / 4 * 16; // 64


html {
  font-size: 16px;
  @media (max-width: $screen-xs-max) {
    font-size: 14px;
  }
  @media (min-width: $screen-lg-min) {
    font-size: 18px;
  }
}

%font-size-xs {
  font-size: $font-size-xs;
  line-height: $line-height;
}
%font-size-sm {
  font-size: $font-size-sm;
  line-height: $line-height;
}
%font-size-md {
  font-size: $font-size-md;
  line-height: $line-height;
}
%font-size-lg {
  font-size: $font-size-lg;
  line-height: $line-height;
}
%font-size-xl {
  font-size: $font-size-xl;
  line-height: $line-height;
}
%font-size-xxl {
  font-size: $font-size-xxl;
  line-height: $line-height;
}
%font-size-xxxl {
  font-size: $font-size-xxxl;
  line-height: $line-height;
}



/*------------------------------------*\
  #SPACING
\*------------------------------------*/


$spacing-base     : 1rem;

$spacing-xxxl     : $spacing-base * 6;
$spacing-xxl      : $spacing-base * 4;
$spacing-xl       : $spacing-base * 3;
$spacing-lg       : $spacing-base * 2;
$spacing-md       : $spacing-base * 1.5;
$spacing-sm       : $spacing-base;
$spacing-xs       : $spacing-base / 2;
$spacing-xxs      : $spacing-base / 4;
