/*------------------------------------*\
  #MODULES
\*------------------------------------*/


@import "modules/_reset.scss";
@import "modules/_fonts.scss";
@import "modules/_variables.scss";
@import "modules/_grid.scss";
@import "modules/_overwrite-floats.scss";
@import "modules/_mixins.scss";
@import "modules/_typography.scss";
@import "modules/_global.scss";


/*------------------------------------*\
  #PARTIALS
\*------------------------------------*/


@import "partials/components/_header.scss";
@import "partials/components/_activities-item.scss";
@import "partials/components/_activities-item-full.scss";
@import "partials/components/_banner.scss";
@import "partials/components/_footer.scss";
@import "partials/components/_icon.scss";
@import "partials/components/_activity-nav.scss";
@import "partials/components/_tags.scss";
@import "partials/components/_events-item.scss";
@import "partials/components/_breadcrumb.scss";
@import "partials/components/_activities-list--compact.scss";
@import "partials/components/_calendar.scss";
@import "partials/components/_calendar-results.scss";

@import "partials/templates/_general-template.scss";
@import "partials/templates/_programme.scss";
@import "partials/templates/_activity.scss";
@import "partials/templates/_static.scss";
@import "partials/templates/_homepage.scss";
@import "partials/templates/_backstage.scss";
@import "partials/templates/_saison-libre.scss";
@import "partials/templates/_tags.scss";

/*------------------------------------*\
  #VENDOR
\*------------------------------------*/

// @import "vendor/_vendor.scss";



/*------------------------------------*\
  #BASE-STYLES
\*------------------------------------*/


body {
  @extend %font-body;
  background: $body-color;
  color: $base-color;
  position: relative;
  overflow-x: hidden; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  ::-moz-selection { background-color: rgba($base-color, .2); color: $base-color; }
  ::selection { background-color: rgba($base-color, .2); color: $base-color; }
}



/*------------------------------------*\
  #PRINT
\*------------------------------------*/


@media print {
  body {
    font-size: percentage(10 / 16);
  }
}
