  <header class="header header--primary">
    <div class="header__tools">
      <div class="container">
        <ul class="lang__list">
          <li><a href="#" class="current">FR</a></li>
          <li><a href="#">NL</a></li>
          <li><a href="#">EN</a></li>
        </ul>
      </div>
    </div>
    <div class="header__inner">
      <h1 aria-hidden="true" class="hidden">Théâtre National</h1>
      <nav class="header__nav header__nav--base nav">
        <ul class="nav__list">
          <li class="nav__item logo">
            <a href="../../patterns/templates-homepage/templates-homepage.html" class="nav__link nav__link--logo">
              <img src="../../../../assets/images/tn-logo.svg" alt="Théâtre National">
            </a>
          </li>
          <li class="nav__item"><a href="../../patterns/templates-programme/templates-programme.html" class="nav__link">Programme</a></li>
          <li class="nav__item"><a href="../../patterns/templates-backstage/templates-backstage.html" class="nav__link">Backstage</a></li>
          <li class="nav__item"><a href="../../patterns/templates-saison-libre/templates-saison-libre.html" class="nav__link">Saison libre</a></li>
          <li class="nav__item"><a href="" class="nav__link nav__link--highlight nav__link--icon icon--ticket">Billets</a></li>
          <li class="nav__item"><a href="../../patterns/templates-agenda/templates-agenda.html" class="nav__link nav__link--icon icon--abo">Abo</a></li>
          <li class="nav__item hidden-mobile"><a href="../../patterns/templates-tags/templates-tags.html" class="nav__link nav__link--icon icon--tag-white">Tags</a></li>
          <li class="nav__item"><a href="#" class="nav__link nav__link--icon icon--menu" id="menu-toggle">Menu</a></li>
        </ul>
      </nav>
      <nav class="header__nav header__nav--extended nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="../../patterns/templates-agenda/templates-agenda.html" class="nav__link">Agenda</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Navigation Item</a></li>
          <li class="nav__item nav__item--with-sub">
            <a href="#" class="nav__link nav__link--parent">Navigation Item</a>
            <ul class="nav__sublist">
              <li class="nav__item"><a href="#" class="nav__link">Subnavigation Item</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Subnavigation Item</a></li>
            </ul>
          </li>
          <li class="nav__item hidden-mobile"><a href="#" class="nav__link">Navigation Item</a></li>
          <li class="nav__item hidden-desktop"><a href="#" class="nav__link">Navigation Item</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Navigation Item</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="main main--agenda">

    <section class="main__section section--first">
      <h2 aria-hidden="true" class="hidden">Is there life on Mars?</h2>
      <article class="activity activity--banner banner" style="background-image:url('../../../../assets/images/activity.jpg')">
        <h2 aria-hidden="true" class="hidden">Is there life on Mars?</h2>
        <div class="container">
          <section class="banner__content extra-padding">
            <a href="../../patterns/templates-activity/templates-activity.html" class="activity__link">
              <h2 class="activity__title">Is there life on Mars?</h2>
              <h3 class="activity__subtitle">Compagnie What's up?!</h3>
              <div class="activity__time">
                <time datetime="2017-05-05">05</time> - <time datetime="2017-05-13">13.05.2017</time>          
              </div>
            </a>
            <a href="#" class="activity__ticket-link">Billets</a>
          </section>
        </div>
        <div class="banner__logo"></div>
      </article>
    </section>
    <section class="main__section section--last extra-padding agenda-wrapper simple-wrapper">
      <h2 aria-hidden="true" class="hidden">Agenda</h2>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="calendar">
              <div class="calendar__nav">
                <a href="#" class="icon icon--arrow-prev prev">⟵</a>
                <time datetime="2017-05"><a href="#">mai 2017</a></time>
                <a href="#" class="icon icon--arrow-next next">⟶</a>
              </div>
              <table class="calendar__table">
                <tbody>
                  <tr>
                    <th>Lun</th>
                    <th>Mar</th>
                    <th>Mer</th>
                    <th>Jeu</th>
                    <th>Ven</th>
                    <th>Sam</th>
                    <th>Dim</th>
                  </tr>
                  <tr>
                    <td><span>1</span></td>
                    <td><span>2</span></td>
                    <td><span><a href="http://www.lestheatres.net/fr/schedules/?d=2017-05-03">3</a></span></td>
                    <td><span><a href="http://www.lestheatres.net/fr/schedules/?d=2017-05-04">4</a></span></td>
                    <td><span><a href="http://www.lestheatres.net/fr/schedules/?d=2017-05-05">5</a></span></td>
                    <td><span>6</span></td>
                    <td><span>7</span></td>
                  </tr>
                  <tr>
                    <td><span>8</span></td>
                    <td><span><a href="http://www.lestheatres.net/fr/schedules/?d=2017-05-09">9</a></span></td>
                    <td><span><a href="http://www.lestheatres.net/fr/schedules/?d=2017-05-10">10</a></span></td>
                    <td><span><a href="http://www.lestheatres.net/fr/schedules/?d=2017-05-11">11</a></span></td>
                    <td class="today"><span><a href="http://www.lestheatres.net/fr/schedules/?d=2017-05-12">12</a></span></td>
                    <td><span><a href="http://www.lestheatres.net/fr/schedules/?d=2017-05-13">13</a></span></td>
                    <td><span>14</span></td>
                  </tr>
                  <tr>
                    <td><span>15</span></td>
                    <td><span>16</span></td>
                    <td><span><a href="http://www.lestheatres.net/fr/schedules/?d=2017-05-17">17</a></span></td>
                    <td><span><a href="http://www.lestheatres.net/fr/schedules/?d=2017-05-18">18</a></span></td>
                    <td><span>19</span></td>
                    <td><span>20</span></td>
                    <td><span>21</span></td>
                  </tr>
                  <tr>
                    <td><span>22</span></td>
                    <td><span>23</span></td>
                    <td><span>24</span></td>
                    <td><span>25</span></td>
                    <td><span>26</span></td>
                    <td><span>27</span></td>
                    <td><span><a href="http://www.lestheatres.net/fr/schedules/?d=2017-05-28">28</a></span></td>
                  </tr>
                  <tr>
                    <td><span>29</span></td>
                    <td><span><a href="http://www.lestheatres.net/fr/schedules/?d=2017-05-30">30</a></span></td>
                    <td><span>31</span></td>
                    <td><span>&nbsp;</span></td>
                    <td><span>&nbsp;</span></td>
                    <td><span>&nbsp;</span></td>
                    <td><span>&nbsp;</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <ul class="calendar-results activities-list--compact ">
              <li class="calendar-results__item">
                <div class="calendar-results__date"><time datetime="2017-05-10">Mercredi <b>10 mai</b> 2017</time></div>
                <ul class="calendar-results__list">
                  <li class="activities-item">
                    <article class="activity">
                      <a href="../../patterns/templates-activity/templates-activity.html" class="activity__link">
                        <div class="activity__block">
                          <figure class="activity__figure">
                            <div class="figure__inner" style="background-image:url('../../../../assets/images/activity.jpg')"></div>
                            <img src="../../../../assets/images/activity.jpg" alt="Activity Title">
                          </figure>
                        </div>
                        <div class="activity__block">
                          <h2 class="activity__title">Is there life on Mars?</h2>
                          <h3 class="activity__subtitle">Compagnie What's up?!</h3>
                          <p class="activity__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae maxime architecto, temporibus dolor.</p>
                          <div class="activity__time">
                            <time datetime="2017-05-05">05</time> - <time datetime="2017-05-13">13.05.2017</time>          
                          </div>
                        </div>
                      </a>
                      <div class="activity__block">
                        <a href="#" class="activity__ticket-link">Billets</a>
                         <ul class="tags icon icon--tag">
                          <li class="tags__item"><a href="#" class="tags__link">Théâtre</a></li>
                          <li class="tags__item"><a href="#" class="tags__link">Nature</a></li>
                        </ul>                      </div>
                    </article>
                  </li>                  <li class="activities-item">
                    <article class="activity">
                      <a href="../../patterns/templates-activity/templates-activity.html" class="activity__link">
                        <div class="activity__block">
                          <figure class="activity__figure">
                            <div class="figure__inner" style="background-image:url('../../../../assets/images/activity.jpg')"></div>
                            <img src="../../../../assets/images/activity.jpg" alt="Activity Title">
                          </figure>
                        </div>
                        <div class="activity__block">
                          <h2 class="activity__title">Is there life on Mars?</h2>
                          <h3 class="activity__subtitle">Compagnie What's up?!</h3>
                          <p class="activity__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae maxime architecto, temporibus dolor.</p>
                          <div class="activity__time">
                            <time datetime="2017-05-05">05</time> - <time datetime="2017-05-13">13.05.2017</time>          
                          </div>
                        </div>
                      </a>
                      <div class="activity__block">
                        <a href="#" class="activity__ticket-link">Billets</a>
                         <ul class="tags icon icon--tag">
                          <li class="tags__item"><a href="#" class="tags__link">Théâtre</a></li>
                          <li class="tags__item"><a href="#" class="tags__link">Nature</a></li>
                        </ul>                      </div>
                    </article>
                  </li>                </ul>
              </li>
              <li class="calendar-results__item">
                <div class="calendar-results__date"><time datetime="2017-05-11">Jeudi <b>11 mai</b> 2017</time></div>
                <ul class="calendar-results__list">
                  <li class="activities-item">
                    <article class="activity">
                      <a href="../../patterns/templates-activity/templates-activity.html" class="activity__link">
                        <div class="activity__block">
                          <figure class="activity__figure">
                            <div class="figure__inner" style="background-image:url('../../../../assets/images/activity.jpg')"></div>
                            <img src="../../../../assets/images/activity.jpg" alt="Activity Title">
                          </figure>
                        </div>
                        <div class="activity__block">
                          <h2 class="activity__title">Is there life on Mars?</h2>
                          <h3 class="activity__subtitle">Compagnie What's up?!</h3>
                          <p class="activity__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae maxime architecto, temporibus dolor.</p>
                          <div class="activity__time">
                            <time datetime="2017-05-05">05</time> - <time datetime="2017-05-13">13.05.2017</time>          
                          </div>
                        </div>
                      </a>
                      <div class="activity__block">
                        <a href="#" class="activity__ticket-link">Billets</a>
                         <ul class="tags icon icon--tag">
                          <li class="tags__item"><a href="#" class="tags__link">Théâtre</a></li>
                          <li class="tags__item"><a href="#" class="tags__link">Nature</a></li>
                        </ul>                      </div>
                    </article>
                  </li>                </ul>
              </li>
              <li class="calendar-results__item">
                <div class="calendar-results__date"><time datetime="2017-05-12">Vendredi<b>12 mai</b> 2017</time></div>
                <ul class="calendar-results__list">
                  <li class="activities-item">
                    <article class="activity">
                      <a href="../../patterns/templates-activity/templates-activity.html" class="activity__link">
                        <div class="activity__block">
                          <figure class="activity__figure">
                            <div class="figure__inner" style="background-image:url('../../../../assets/images/activity.jpg')"></div>
                            <img src="../../../../assets/images/activity.jpg" alt="Activity Title">
                          </figure>
                        </div>
                        <div class="activity__block">
                          <h2 class="activity__title">Is there life on Mars?</h2>
                          <h3 class="activity__subtitle">Compagnie What's up?!</h3>
                          <p class="activity__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae maxime architecto, temporibus dolor.</p>
                          <div class="activity__time">
                            <time datetime="2017-05-05">05</time> - <time datetime="2017-05-13">13.05.2017</time>          
                          </div>
                        </div>
                      </a>
                      <div class="activity__block">
                        <a href="#" class="activity__ticket-link">Billets</a>
                         <ul class="tags icon icon--tag">
                          <li class="tags__item"><a href="#" class="tags__link">Théâtre</a></li>
                          <li class="tags__item"><a href="#" class="tags__link">Nature</a></li>
                        </ul>                      </div>
                    </article>
                  </li>                  <li class="activities-item">
                    <article class="activity">
                      <a href="../../patterns/templates-activity/templates-activity.html" class="activity__link">
                        <div class="activity__block">
                          <figure class="activity__figure">
                            <div class="figure__inner" style="background-image:url('../../../../assets/images/activity.jpg')"></div>
                            <img src="../../../../assets/images/activity.jpg" alt="Activity Title">
                          </figure>
                        </div>
                        <div class="activity__block">
                          <h2 class="activity__title">Is there life on Mars?</h2>
                          <h3 class="activity__subtitle">Compagnie What's up?!</h3>
                          <p class="activity__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae maxime architecto, temporibus dolor.</p>
                          <div class="activity__time">
                            <time datetime="2017-05-05">05</time> - <time datetime="2017-05-13">13.05.2017</time>          
                          </div>
                        </div>
                      </a>
                      <div class="activity__block">
                        <a href="#" class="activity__ticket-link">Billets</a>
                         <ul class="tags icon icon--tag">
                          <li class="tags__item"><a href="#" class="tags__link">Théâtre</a></li>
                          <li class="tags__item"><a href="#" class="tags__link">Nature</a></li>
                        </ul>                      </div>
                    </article>
                  </li>                  <li class="activities-item">
                    <article class="activity">
                      <a href="../../patterns/templates-activity/templates-activity.html" class="activity__link">
                        <div class="activity__block">
                          <figure class="activity__figure">
                            <div class="figure__inner" style="background-image:url('../../../../assets/images/activity.jpg')"></div>
                            <img src="../../../../assets/images/activity.jpg" alt="Activity Title">
                          </figure>
                        </div>
                        <div class="activity__block">
                          <h2 class="activity__title">Is there life on Mars?</h2>
                          <h3 class="activity__subtitle">Compagnie What's up?!</h3>
                          <p class="activity__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae maxime architecto, temporibus dolor.</p>
                          <div class="activity__time">
                            <time datetime="2017-05-05">05</time> - <time datetime="2017-05-13">13.05.2017</time>          
                          </div>
                        </div>
                      </a>
                      <div class="activity__block">
                        <a href="#" class="activity__ticket-link">Billets</a>
                         <ul class="tags icon icon--tag">
                          <li class="tags__item"><a href="#" class="tags__link">Théâtre</a></li>
                          <li class="tags__item"><a href="#" class="tags__link">Nature</a></li>
                        </ul>                      </div>
                    </article>
                  </li>                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

  </main>

  <footer class="footer footer--primary">
    <section class="footer__links extra-padding">
      <h2 aria-hidden="true" class="hidden">Théâtre National - Footer</h2>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-2">
            <section class="footer__section section__contact">
              <h2>Contact</h2>
              <p class="icon icon--pointer">Blvd Emile Jacqmain<br>111-115<br>1000 Bruxelles</p>
              <p class="icon icon--mail"><a href="#">info@theatrenational.be</a></p>
              <p class="icon icon--phone"><a href="#">+32 2 203 41 55</a></p>
            </section>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <section class="footer__section section__ticketing">
              <h2>Billeterie</h2>
              <p class="icon icon--time">Du lundi au samedi de 11h à 18h</p>
              <p class="icon icon--phone"><a href="#">+32 2 203 53 03</a></p>
            </section>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <section class="footer__section section__newsletter">
              <h2>Newsletter</h2>
              <form method="POST" action="http://truc.truc" accept-charset="UTF-8" class="form form--newsletter" id="newsletter-form">
                <fieldset>
                  <legend>S'inscrire à notre newsletter</legend>
                  <input name="_token" type="hidden" value="">
                  <div class="form__container">
                    <input class="form__input" name="email" id="email" type="email" placeholder="Votre adresse e-mail" required="">
                    <button class="button form__submit icon icon--arrow" type="submit">Inscription</button>
                  </div>
                </fieldset>
              </form>
            </section>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2">
            <section class="footer__section section__follow">
              <h2>Suivez-nous</h2>
              <ul class="social-list">
                <li class="social-item icon icon--facebook"><a href="#">Facebook</a></li>
                <li class="social-item icon icon--twitter"><a href="#">Twitter</a></li>
                <li class="social-item icon icon--instagram"><a href="#">Instagram</a></li>
                <li class="social-item icon icon--googleplus"><a href="#">Google Plus</a></li>
              </ul>
            </section>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2">
             <section class="footer__section section__sitemap">
                <h2>Perdu ?</h2>
                <p class="icon icon--map"><a href="#">Plan du site</a></p>
              </section>
          </div>
        </div>
      </div>
    </section>
    <section class="footer__info extra-padding">
      <div class="container">
        <div class="footer-info__box">
          <h2 class="logo"><a href="#" class="logo__link"><img src="../../../../assets/images/tn-logo.svg" alt="Théâtre National"></a></h2>
        </div>
      </div>
    </section>
  </footer>
