  {{> components-header }}

  <main class="main main--agenda">

    {{> components-section-first }}

    <section class="main__section section--last extra-padding agenda-wrapper simple-wrapper">
      <h2 aria-hidden="true" class="hidden">Agenda</h2>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            {{! calendar }}
            <div class="calendar">
              <div class="calendar__nav">
                <a href="#" class="icon icon--arrow-prev prev">⟵</a>
                <time datetime="2017-05"><a href="#">mai 2017</a></time>
                <a href="#" class="icon icon--arrow-next next">⟶</a>
              </div>
              <table class="calendar__table">
                <tbody>
                  <tr>
                    <th>Lun</th>
                    <th>Mar</th>
                    <th>Mer</th>
                    <th>Jeu</th>
                    <th>Ven</th>
                    <th>Sam</th>
                    <th>Dim</th>
                  </tr>
                  <tr>
                    <td><span>1</span></td>
                    <td><span>2</span></td>
                    <td><span><a href="http://www.lestheatres.net/fr/schedules/?d=2017-05-03">3</a></span></td>
                    <td><span><a href="http://www.lestheatres.net/fr/schedules/?d=2017-05-04">4</a></span></td>
                    <td><span><a href="http://www.lestheatres.net/fr/schedules/?d=2017-05-05">5</a></span></td>
                    <td><span>6</span></td>
                    <td><span>7</span></td>
                  </tr>
                  <tr>
                    <td><span>8</span></td>
                    <td><span><a href="http://www.lestheatres.net/fr/schedules/?d=2017-05-09">9</a></span></td>
                    <td><span><a href="http://www.lestheatres.net/fr/schedules/?d=2017-05-10">10</a></span></td>
                    <td><span><a href="http://www.lestheatres.net/fr/schedules/?d=2017-05-11">11</a></span></td>
                    <td class="today"><span><a href="http://www.lestheatres.net/fr/schedules/?d=2017-05-12">12</a></span></td>
                    <td><span><a href="http://www.lestheatres.net/fr/schedules/?d=2017-05-13">13</a></span></td>
                    <td><span>14</span></td>
                  </tr>
                  <tr>
                    <td><span>15</span></td>
                    <td><span>16</span></td>
                    <td><span><a href="http://www.lestheatres.net/fr/schedules/?d=2017-05-17">17</a></span></td>
                    <td><span><a href="http://www.lestheatres.net/fr/schedules/?d=2017-05-18">18</a></span></td>
                    <td><span>19</span></td>
                    <td><span>20</span></td>
                    <td><span>21</span></td>
                  </tr>
                  <tr>
                    <td><span>22</span></td>
                    <td><span>23</span></td>
                    <td><span>24</span></td>
                    <td><span>25</span></td>
                    <td><span>26</span></td>
                    <td><span>27</span></td>
                    <td><span><a href="http://www.lestheatres.net/fr/schedules/?d=2017-05-28">28</a></span></td>
                  </tr>
                  <tr>
                    <td><span>29</span></td>
                    <td><span><a href="http://www.lestheatres.net/fr/schedules/?d=2017-05-30">30</a></span></td>
                    <td><span>31</span></td>
                    <td><span>&nbsp;</span></td>
                    <td><span>&nbsp;</span></td>
                    <td><span>&nbsp;</span></td>
                    <td><span>&nbsp;</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            {{! end calendar }}
            <ul class="calendar-results activities-list--compact ">
              <li class="calendar-results__item">
                <div class="calendar-results__date"><time datetime="2017-05-10">Mercredi <b>10 mai</b> 2017</time></div>
                <ul class="calendar-results__list">
                  {{> components-activities-item }}
                  {{> components-activities-item }}
                </ul>
              </li>
              <li class="calendar-results__item">
                <div class="calendar-results__date"><time datetime="2017-05-11">Jeudi <b>11 mai</b> 2017</time></div>
                <ul class="calendar-results__list">
                  {{> components-activities-item }}
                </ul>
              </li>
              <li class="calendar-results__item">
                <div class="calendar-results__date"><time datetime="2017-05-12">Vendredi<b>12 mai</b> 2017</time></div>
                <ul class="calendar-results__list">
                  {{> components-activities-item }}
                  {{> components-activities-item }}
                  {{> components-activities-item }}
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

  </main>

  {{> components-footer }}