/*------------------------------------*\
  #ACTIVITY
\*------------------------------------*/


.main__section.activity {
  background-color: $grey-lighter;
}

.activity__section {
  padding-top: $spacing-lg;
  padding-bottom: $spacing-lg;
  .container {
    max-width: 900px;
    margin-left: 0;
  }
}

.activity__intro {
  margin: $spacing-lg 0;
  p {
    @extend %font-body-bold;
    @extend %font-size-lg;
  }
}

.gallery {
  margin: $spacing-xl 0;
  padding-top: $spacing-xl;
  border-top: $border-width-sm solid $grey-dark;
}

.gallery-item {
  @media (max-width: $screen-xs-max) {
    margin-bottom: $spacing-xl;
  }
}

.section--highlight {
  background-color: rgba($grey, .2);
}

.section__title {
  @extend %font-var;
  @extend %font-size-xxl;
  color: $grey-dark;
  margin-top: $spacing-md;
  margin-bottom: $spacing-md;
}

.icon--toernee-general,
.icon--studio,
.icon--grande-scene {
  background-size: 24px 24px;
  height: 24px;
  display: inline-block;
  padding-left: 1.7em;
  margin-right: .5em;
  &.icon--solo {
    width: 24px;
    height: 24px;
    margin-right: .1em;
  }
}

.performance__table {
  width: 100%;
  th,
  td {
    padding: .2em 0;
    @media (min-width: $screen-sm-min) {
      padding: .5em 0;
    }
  }
  tr {
    border-top: $border-width-sm solid $base-color;
    &:last-of-type {
      border-bottom: $border-width-sm solid $base-color;     
    }
    @media (max-width: $screen-xs-max) {
      display: block;
      padding: $spacing-sm 0;
    }
  }
  td {
    p {
      margin-bottom: 0;
    }
  }
  @media (max-width: $screen-xs-max) {
    th,
    td {
      display: block;
    }
  }
}

.td--date {
  p {
    @extend %font-body-bold;
  }
  time {
    display: block;
    @extend %font-var;
    @extend %font-size-xl;
  }
}

.td--place p {
  @extend %font-var;
  @extend %font-size-xl;
}

.td--ticket {
  @media (min-width: $screen-sm-min) {
    text-align: right;
  }
  .activity__ticket-link {
    margin-top: 0 !important;
  }
}

.downloads {
  list-style: none;
}

.downloads__link {
  color: $grey-dark;
  display: block;
  margin-bottom: .5em;
  &:hover {
    color: $action;
  }
}

.activity__section.related {
  margin-top: $spacing-xxl;
  padding-bottom: $spacing-xxl;
  border-top: $border-width-sm solid $grey-dark;
  background-color: $body-color;
}

.related .activities-item {
  @extend .col-xs-12;
  @extend .col-sm-4;
}

// marge extra
.activity__section .body,
.main__section .activity__section:last-of-type {
  padding-bottom: $spacing-xl;
}