/*------------------------------------*\
  #BACKSTAGE
\*------------------------------------*/



.main--backstage .activities-list > .col-sm-8 .activity__title {
  @extend %font-size-xxxl;
  line-height: 1;
  @media (max-width: $screen-xs-max) {
    font-size: 10vw;
  }
  @media (min-width: $screen-xs-min) and (max-width: $screen-md-max) {
    font-size: 4vw;
  }
}
.main--backstage .activity__figure {
  &:before {
    content: none;
  }
  .figure__inner {
    display: none;
  }
  img {
    display: block;
  }
}

// positionnement dans la grille
.main--backstage .activities-list .activities-item {
  @extend .col-xs-12;
  @extend .col-sm-4;
  &:nth-of-type(6n+1) {
    @extend .col-sm-8;
  }
}