/*------------------------------------*\
  #GENERAL-TEMPLATE
\*------------------------------------*/


.main {
  position: relative;
  @media (min-width: $screen-xs-min) {
    display: flex;
    .section--first {
      width: 33.3333%;
    }
    .section--last {
      width: 66.6666%;
    }
  }
  @media (min-width: $screen-md-min) {
    .section--first {
      width: 50%;
    }
    .section--last {
      width: 50%;
    }
  }
}

.main__section.section--first {
  background-color: $base-color;
  @media (max-width: $screen-xxs-max) {
    .banner {
      position: relative !important;
      bottom: auto !important;
      & + .spacer {
        display: none !important;
      }
    }
  }
}

// padding extra
.extra-padding {
  @media (max-width: $screen-xs-max) {
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
  }
  @media (min-width: $screen-xs-min) {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
}

.simple-wrapper {
  margin-top: $grid-gutter-width*2;
  margin-bottom: $grid-gutter-width*2;
}

.main:not(.main--homepage) .activities-list {
  margin-top: $grid-gutter-width*2;
}

.title {
  @extend %font-var;
  @extend %font-size-xxxl;
  margin-bottom: $spacing-lg;
  line-height: 1 !important;
}