/*------------------------------------*\
  #HOMEPAGE
\*------------------------------------*/

.main--homepage .section--first {
  z-index: 2;
  @media (max-width: $screen-xs-max) {
    margin-bottom: $grid-gutter-width;
  }
}
.main--homepage .section--last > .container {
  margin-right: -0.14em;
}

// masquage des boutons tickets
.main--homepage .activities-item--full {
  .activity__ticket-link {
    display: none;
  }
}