/*------------------------------------*\
  #PROGRAMME
\*------------------------------------*/


.main--programme .activities-item {
  &:nth-child(1),
  &:nth-child(2) {
    @extend .col-xs-12;
    @extend .col-sm-6;
    .activity__title {
      @extend %font-size-xxl;
      line-height: 1;
    }
    .activity__time {
      @extend %font-size-xl;
    }
  }
  @extend .col-xs-6;
  @extend .col-sm-4;
}