/*------------------------------------*\
  #SAISON-LIBRE
\*------------------------------------*/


.main--saison-libre .activities-item {
  @extend .col-xs-12;
}

.main--saison-libre {
  .activity:not(.banner) > .activity__block {
    width: 66.66667%;
    margin-left: 33.33333%;
    padding-left: $grid-gutter-width/4;
    padding-right: $grid-gutter-width/4;
  }
  .activity__ticket-link,
  .tags {
    display: inline-block;
  }
  .activity__ticket-link + .tags {
    margin-left: $spacing-xs;
  }
}