/*------------------------------------*\
  #STATIC
\*------------------------------------*/


.static-wrapper {
  max-width: 900px;
  margin-left: 0;
}

.static__title {
  @extend %font-var;
  @extend %font-size-xxxl;
  margin-bottom: $spacing-xs;
  line-height: 1 !important;
}

.static__subtitle {
  @extend %font-body;
  @extend %font-size-lg;
  margin-bottom: .5em;
}

.static__intro {
  margin: $spacing-md 0 $spacing-lg 0;
  p {
    @extend %font-body-bold;
    @extend %font-size-lg;
  }
}