/*------------------------------------*\
  #TAGS
\*------------------------------------*/



.tags-wrapper {
  .tags__list {
    columns: 2;
  }
  .tags__item {
    display: block;
    margin-bottom: $spacing-sm;
  }
}
