<li class="events-item">
  <h2 class="event__title">La nature, amie ou ennemie ?</h2>
  <h3 class="event__subtitle">Débat à l'issue de la réprésentation</h3>
  <time datetime="2017-05-21" class="event__time">21.05.2017</time>
  <a href="#" class="button button--more">infos</a>
</li>