<div class="gallery">
  <div class="row">
    <div class="col-sm-4">
      <div class="gallery-item">
        <img src="../../../../assets/images/activity.jpg" alt="Image description">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="gallery-item">
        <img src="../../../../assets/images/activity.jpg" alt="Image description">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="gallery-item">
        <img src="../../../../assets/images/activity.jpg" alt="Image description">
      </div>
    </div>
  </div>
</div>