<section class="main__section section--first">
  <h2 aria-hidden="true" class="hidden">Is there life on Mars?</h2>
  <article class="activity activity--banner banner" style="background-image:url('../../../../assets/images/activity.jpg')">
    <h2 aria-hidden="true" class="hidden">Is there life on Mars?</h2>
    <div class="container">
      <section class="banner__content extra-padding">
        <a href="{{ link.templates-activity }}" class="activity__link">
          <h2 class="activity__title">Is there life on Mars?</h2>
          <h3 class="activity__subtitle">Compagnie What's up?!</h3>
          <div class="activity__time">
            <time datetime="2017-05-05">05</time> - <time datetime="2017-05-13">13.05.2017</time>          
          </div>
        </a>
        <a href="#" class="activity__ticket-link">Billets</a>
      </section>
    </div>
    <div class="banner__logo"></div>
  </article>
</section>