<tr class="performance__item">
  <td class="td--date">
    <p>Jeudi <time datetime="2017-05-13">13.05.2017</time> 20h30</p> 
  </td>
  <td class="td--place">
    <p>Grand salle</p>
  </td>
  <td class="td--ticket">
    <a href="#" class="activity__ticket-link">Billets</a>
  </td>
</tr>