{{> components-header }}

<main class="main main--backstage">

  {{> components-section-first }}

  <section class="main__section section--last extra-padding">
    <h2 aria-hidden="true" class="hidden">Backstage</h2>
    <div class="container">
      <ul class="activities-list row">
        {{> components-activities-item }}
        {{> components-activities-item }}
        {{> components-activities-item }}
        {{> components-activities-item }}
        {{> components-activities-item }}
        {{> components-activities-item }}
        {{> components-activities-item }}
      </ul>
    </div>
  </section>

</main>

{{> components-footer }}
