{{> components-header }}

<main class="main main--homepage">

  {{> components-section-first }}

  <section class="main__section section--last">
    <h2 aria-hidden="true" class="hidden">Théâtre National</h2>
    <div class="container">
      <ul class="activities-list row">
        {{> components-activities-item--bg-video }}
        {{> components-activities-item--bg-image }}
        {{> components-activities-item--bg-image }}
        {{> components-activities-item--bg-color }}
        {{> components-activities-item--bg-color }}
        {{> components-activities-item--bg-color }}
        {{> components-activities-item--bg-video }}
        {{> components-activities-item--bg-image }}
        {{> components-activities-item--bg-image }}
        {{> components-activities-item--bg-color }}
        {{> components-activities-item--bg-color }}
        {{> components-activities-item--bg-color }}
      </ul>
    </div>
  </section>

</main>

{{> components-footer }}
