{{> components-header }}

<main class="main main--activity">

    <section class="main__section section--first">
      <h2 aria-hidden="true" class="hidden">Resto National</h2>
      <div class="banner" style="background-image:url('../../../../assets/images/activity.jpg')">
        <div class="banner__logo"></div>
      </div>
    </section>

    <section class="main__section section--last extra-padding static-wrapper">
      <h2 aria-hidden="true" class="hidden">Resto National</h2>

      <nav class="breadcrumb">
        <div class="container">
          <ul class="nav__list">
            <li class="nav__item active"><a href="#" class="nav__link">Infos pratiques</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Restaurant</a></li>
          </ul>
        </div>
      </nav>

      <article class="static">
        <h2 aria-hidden="true" class="hidden">Resto National</h2>
        <div class="container">
          <h2 class="static__title">Resto National</h2>
          <h3 class="static__subtitle">Is there life on Mars?</h3>
          <div class="static__intro">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A totam, laboriosam recusandae sequi quod vel expedita nostrum rerum dolorem doloremque voluptates quaerat voluptas amet, qui incidunt soluta perferendis ipsam quibusdam.</p>
          </div>
          {{> components-body }}
          {{> components-gallery }}
        </div>
      </article>

    </section>
</main>

{{> components-footer }}