{{> components-header }}

<main class="main main--tags">

  {{> components-section-first }}

  <section class="main__section section--last extra-padding tags-wrapper simple-wrapper">
    <h2 aria-hidden="true" class="hidden">Tags</h2>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul class="tags__list">
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Théâtre</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Expositions</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Théâtre</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Expositions</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Théâtre</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Expositions</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Théâtre</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Expositions</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Théâtre</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Expositions</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Théâtre</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Expositions</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Théâtre</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Expositions</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Théâtre</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Expositions</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Théâtre</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Expositions</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Théâtre</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Expositions</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Théâtre</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Expositions</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Théâtre</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Expositions</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Théâtre</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Expositions</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Théâtre</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Expositions</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Théâtre</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Expositions</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Théâtre</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Expositions</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Théâtre</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Expositions</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Théâtre</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Expositions</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Théâtre</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Expositions</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Théâtre</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Expositions</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Théâtre</a></li>
            <li class="tags__item"><a href="#" class="tags__link icon icon--tag">Expositions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</main>

{{> components-footer }}