<li class="activities-item activities-item--full activities-item--large">
  <article class="activity">
    <a href="../../patterns/templates-activity/templates-activity.html" class="activity__link activity__link--bg-video" style="background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg');">
      <video playsinline autoplay muted loop poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" style="background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg');" class="bg-video">
        <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
        <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
      </video>
      <h2 class="activity__title">Is there life on Mars?</h2>
      <h3 class="activity__subtitle">Compagnie What's up?!</h3>
      <div class="activity__time">
        <time datetime="2017-05-05">05</time> - <time datetime="2017-05-13">13.05.2017</time>          
      </div>
    </a>
    <a href="#" class="activity__ticket-link">Billets</a>
  </article>
</li>