<footer class="footer footer--primary">
  <section class="footer__links extra-padding">
    <h2 aria-hidden="true" class="hidden">Théâtre National - Footer</h2>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-2">
          <section class="footer__section section__contact">
            <h2>Contact</h2>
            <p class="icon icon--pointer">Blvd Emile Jacqmain<br>111-115<br>1000 Bruxelles</p>
            <p class="icon icon--mail"><a href="#">info@theatrenational.be</a></p>
            <p class="icon icon--phone"><a href="#">+32 2 203 41 55</a></p>
          </section>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <section class="footer__section section__ticketing">
            <h2>Billeterie</h2>
            <p class="icon icon--time">Du lundi au samedi de 11h à 18h</p>
            <p class="icon icon--phone"><a href="#">+32 2 203 53 03</a></p>
          </section>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <section class="footer__section section__newsletter">
            <h2>Newsletter</h2>
            <form method="POST" action="http://truc.truc" accept-charset="UTF-8" class="form form--newsletter" id="newsletter-form">
              <fieldset>
                <legend>S'inscrire à notre newsletter</legend>
                <input name="_token" type="hidden" value="">
                <div class="form__container">
                  <input class="form__input" name="email" id="email" type="email" placeholder="Votre adresse e-mail" required="">
                  <button class="button form__submit icon icon--arrow" type="submit">Inscription</button>
                </div>
              </fieldset>
            </form>
          </section>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2">
          <section class="footer__section section__follow">
            <h2>Suivez-nous</h2>
            <ul class="social-list">
              <li class="social-item icon icon--facebook"><a href="#">Facebook</a></li>
              <li class="social-item icon icon--twitter"><a href="#">Twitter</a></li>
              <li class="social-item icon icon--instagram"><a href="#">Instagram</a></li>
              <li class="social-item icon icon--googleplus"><a href="#">Google Plus</a></li>
            </ul>
          </section>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2">
           <section class="footer__section section__sitemap">
              <h2>Perdu ?</h2>
              <p class="icon icon--map"><a href="#">Plan du site</a></p>
            </section>
        </div>
      </div>
    </div>
  </section>
  <section class="footer__info extra-padding">
    <div class="container">
      <div class="footer-info__box">
        <h2 class="logo"><a href="#" class="logo__link"><img src="../../../../assets/images/tn-logo.svg" alt="Théâtre National"></a></h2>
      </div>
    </div>
  </section>
</footer>
