{{> components-header }}

<main class="main main--activity">

    <section class="main__section section--first">
      <h2 aria-hidden="true" class="hidden">Is there life on Mars?</h2>
      <div class="banner" style="background-image:url('../../../../assets/images/activity.jpg')">
        <div class="banner__logo"></div>
      </div>
    </section>

    <article class="main__section section--last activity">
      <h2 aria-hidden="true" class="hidden">Is there life on Mars?</h2>
      <nav class="activity__nav extra-padding" id="activity-nav">
        <div class="container">
          <ul class="nav__list nav nav-tabs">
            <li class="nav__item active"><a href="#presentation" class="nav__link">Présentation</a></li>
            <li class="nav__item"><a href="#infos" class="nav__link">Infos</a></li>
            <li class="nav__item"><a href="#distribution" class="nav__link">Distribution</a></li>
            <li class="nav__item"><a href="#calendrier" class="nav__link">Calendrier</a></li>
          </ul>
        </div>
      </nav>

      <section class="activity__section extra-padding" id="presentation">
        <div class="container">
          {{> components-tags }}
          <h2 class="activity__title">Is there life on Mars?</h2>
          <h3 class="activity__excerpt">Héloïse Meire, Cécile Hupin / Compagnie What's up?!</h3>
          <div class="activity__time">
            <p>Du <time datetime="2017-12-13">13</time> au <time datetime="2017-12-17">17 décembre 2017</time></p>
          </div>
          <a href="#" class="activity__ticket-link">Billets</a>
          <div class="activity__intro">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A totam, laboriosam recusandae sequi quod vel expedita nostrum rerum dolorem doloremque voluptates quaerat voluptas amet, qui incidunt soluta perferendis ipsam quibusdam.</p>
          </div>
          {{> components-body }}
          {{> components-gallery }}
        </div>
      </section>

      <section class="activity__section extra-padding section--highlight" id="infos">
        <div class="container">
          <h3 class="section__title">Infos</h3>
          <div class="section__body technical-info">
            <h2 class="icon icon--lang">Langues</h2>
            <p>Français - surtitre néérlandais</p>
            <h2 class="icon icon--time-black">Durée</h2>
            <p>90 minutes + entracte 15 minutes</p>
            <h2 class="icon icon--child">Enfants</h2>
            <p>À partir de 10 ans</p>
            <h2>Tags avec texte</h2>
            <p>
              <a href="" class="icon icon--toernee-general">Toernee general</a>
              <a href="" class="icon icon--studio">Studio</a>
              <a href="" class="icon icon--grande-scene">Grande scene</a>
            </p>
            <h2>Tags sans texte</h2>
            <p>
              <a href="" class="icon icon--solo icon--toernee-general"></a>
              <a href="" class="icon icon--solo icon--studio"></a>
              <a href="" class="icon icon--solo icon--grande-scene"></a>
            </p>
          </div>
        </div>
      </section>

      <section class="activity__section extra-padding" id="distribution">
        <div class="container">
          <h3 class="section__title">Distribution</h3>
          <div class="section__body casting">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <h2>Texte</h2>
                <p>Vincent Hennebicq et Arieh Worhthalter</p>
                <h2>Texte</h2>
                <p>Vincent Hennebicq et Arieh Worhthalter</p>
                <h2>Texte</h2>
                <p>Vincent Hennebicq et Arieh Worhthalter</p>
                <h2>Texte</h2>
                <p>Vincent Hennebicq et Arieh Worhthalter</p>
              </div>
              <div class="col-xs-12 col-sm-6">
                <h2>Texte</h2>
                <p>Vincent Hennebicq et Arieh Worhthalter</p>
                <h2>Texte</h2>
                <p>Vincent Hennebicq et Arieh Worhthalter</p>
                <h2>Texte</h2>
                <p>Vincent Hennebicq et Arieh Worhthalter</p>
                <h2>Texte</h2>
                <p>Vincent Hennebicq et Arieh Worhthalter</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="activity__section extra-padding" id="calendrier">
        <div class="container">
          <h3 class="section__title">Calendrier</h3>
          <div class="section__body performance">
            <table class="performance__table">
              {{> components-performance-item }}
              {{> components-performance-item }}
              {{> components-performance-item }}
              {{> components-performance-item }}
            </table>
          </div>
        </div>
      </section>

      <section class="activity__section extra-padding">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <h3 class="section__title">Autour du spectacle</h3>
              <div class="section__body">
                <ul class="events">
                  {{> components-events-item}}
                  {{> components-events-item}}
                  {{> components-events-item}}
                  {{> components-events-item}}
                </ul>
              </div>
            </div>
            <div class="col-sm-6">
              <h3 class="section__title">Dans le cadre de</h3>
              <ul class="events">
                {{> components-events-item}}
              </ul>
            </div>
            <div class="col-sm-12">
              <h3 class="section__title">Téléchargements</h3>
              <ul class="downloads">
                {{> components-downloads-item }}
                {{> components-downloads-item }}
                {{> components-downloads-item }}
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="activity__section extra-padding related">
        <div class="container">
          <h3 class="section__title">Vous aimeriez aussi</h3>
          <ul class="row">
            {{> components-activities-item }}
            {{> components-activities-item }}
            {{> components-activities-item }}
          </ul>
        </div>
      </section>

    </article>
</main>

{{> components-footer }}