<header class="header header--primary">
  <div class="header__tools">
    <div class="container">
      <ul class="lang__list">
        <li><a href="#" class="current">FR</a></li>
        <li><a href="#">NL</a></li>
        <li><a href="#">EN</a></li>
      </ul>
    </div>
  </div>
  <div class="header__inner">
    <h1 aria-hidden="true" class="hidden">Théâtre National</h1>
    <nav class="header__nav header__nav--base nav">
      <ul class="nav__list">
        <li class="nav__item logo">
          <a href="../../patterns/templates-homepage/templates-homepage.html" class="nav__link nav__link--logo">
            <img src="../../../../assets/images/tn-logo.svg" alt="Théâtre National">
          </a>
        </li>
        <li class="nav__item"><a href="../../patterns/templates-programme/templates-programme.html" class="nav__link">Programme</a></li>
        <li class="nav__item"><a href="../../patterns/templates-backstage/templates-backstage.html" class="nav__link">Backstage</a></li>
        <li class="nav__item"><a href="../../patterns/templates-saison-libre/templates-saison-libre.html" class="nav__link">Saison libre</a></li>
        <li class="nav__item"><a href="" class="nav__link nav__link--highlight nav__link--icon icon--ticket">Billets</a></li>
        <li class="nav__item"><a href="../../patterns/templates-agenda/templates-agenda.html" class="nav__link nav__link--icon icon--abo">Abo</a></li>
        <li class="nav__item hidden-mobile"><a href="../../patterns/templates-tags/templates-tags.html" class="nav__link nav__link--icon icon--tag-white">Tags</a></li>
        <li class="nav__item"><a href="#" class="nav__link nav__link--icon icon--menu" id="menu-toggle">Menu</a></li>
      </ul>
    </nav>
    <nav class="header__nav header__nav--extended nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="../../patterns/templates-agenda/templates-agenda.html" class="nav__link">Agenda</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Navigation Item</a></li>
        <li class="nav__item nav__item--with-sub">
          <a href="#" class="nav__link nav__link--parent">Navigation Item</a>
          <ul class="nav__sublist">
            <li class="nav__item"><a href="#" class="nav__link">Subnavigation Item</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Subnavigation Item</a></li>
          </ul>
        </li>
        <li class="nav__item hidden-mobile"><a href="#" class="nav__link">Navigation Item</a></li>
        <li class="nav__item hidden-desktop"><a href="#" class="nav__link">Navigation Item</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Navigation Item</a></li>
      </ul>
    </nav>
  </div>
</header>
<main class="main main--activity">

    <section class="main__section section--first">
      <h2 aria-hidden="true" class="hidden">Is there life on Mars?</h2>
      <div class="banner" style="background-image:url('../../../../assets/images/activity.jpg')">
        <div class="banner__logo"></div>
      </div>
    </section>

    <article class="main__section section--last activity">
      <h2 aria-hidden="true" class="hidden">Is there life on Mars?</h2>
      <nav class="activity__nav extra-padding" id="activity-nav">
        <div class="container">
          <ul class="nav__list nav nav-tabs">
            <li class="nav__item active"><a href="#presentation" class="nav__link">Présentation</a></li>
            <li class="nav__item"><a href="#infos" class="nav__link">Infos</a></li>
            <li class="nav__item"><a href="#distribution" class="nav__link">Distribution</a></li>
            <li class="nav__item"><a href="#calendrier" class="nav__link">Calendrier</a></li>
          </ul>
        </div>
      </nav>

      <section class="activity__section extra-padding" id="presentation">
        <div class="container">
           <ul class="tags icon icon--tag">
            <li class="tags__item"><a href="#" class="tags__link">Théâtre</a></li>
            <li class="tags__item"><a href="#" class="tags__link">Nature</a></li>
          </ul>          <h2 class="activity__title">Is there life on Mars?</h2>
          <h3 class="activity__excerpt">Héloïse Meire, Cécile Hupin / Compagnie What's up?!</h3>
          <div class="activity__time">
            <p>Du <time datetime="2017-12-13">13</time> au <time datetime="2017-12-17">17 décembre 2017</time></p>
          </div>
          <a href="#" class="activity__ticket-link">Billets</a>
          <div class="activity__intro">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A totam, laboriosam recusandae sequi quod vel expedita nostrum rerum dolorem doloremque voluptates quaerat voluptas amet, qui incidunt soluta perferendis ipsam quibusdam.</p>
          </div>
          <div class="body">
            <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing</a> elit. Recusandae dolore, error dolor cupiditate perferendis doloremque maiores vel vitae ullam natus, eligendi velit unde ratione facere minus a doloribus ipsum possimus.</p>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolore, error dolor cupiditate perferendis doloremque maiores vel vitae ullam natus, eligendi velit unde ratione facere minus a doloribus ipsum possimus.</p>
            <h3>Error dolor cupiditate perferendis doloremque</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolore, error dolor cupiditate perferendis doloremque maiores vel vitae ullam natus, eligendi velit unde ratione facere minus a doloribus ipsum possimus.</p>
            <blockquote>
              <p>Perferendis doloremque maiores vel vitae ullam natus, eligendi velit unde ratione facere minus a doloribus ipsum possimus.</p>
            </blockquote>
            <h3>Unordered list</h3>
            <ul>
              <li>Unordered list item</li>
              <li>Unordered list item</li>
              <li>Unordered list item</li>
              <li>Unordered list item</li>
            </ul>
            <h3>Ordered list</h3>
            <ol>
              <li>Ordered list item</li>
              <li>Ordered list item</li>
              <li>Ordered list item</li>
              <li>Ordered list item</li>
            </ol>
            <div class='embed-container'>
              <iframe src='https://www.youtube.com/embed/gHiqPG0526U' allowfullscreen></iframe>
            </div>
            <div class='embed-container'>
              <iframe src='https://player.vimeo.com/video/126360743' allowFullScreen></iframe>
            </div>
          </div>          <div class="gallery">
            <div class="row">
              <div class="col-sm-4">
                <div class="gallery-item">
                  <img src="../../../../assets/images/activity.jpg" alt="Image description">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="gallery-item">
                  <img src="../../../../assets/images/activity.jpg" alt="Image description">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="gallery-item">
                  <img src="../../../../assets/images/activity.jpg" alt="Image description">
                </div>
              </div>
            </div>
          </div>        </div>
      </section>

      <section class="activity__section extra-padding section--highlight" id="infos">
        <div class="container">
          <h3 class="section__title">Infos</h3>
          <div class="section__body technical-info">
            <h2 class="icon icon--lang">Langues</h2>
            <p>Français - surtitre néérlandais</p>
            <h2 class="icon icon--time-black">Durée</h2>
            <p>90 minutes + entracte 15 minutes</p>
            <h2 class="icon icon--child">Enfants</h2>
            <p>À partir de 10 ans</p>
            <h2>Tags avec texte</h2>
            <p>
              <a href="" class="icon icon--toernee-general">Toernee general</a>
              <a href="" class="icon icon--studio">Studio</a>
              <a href="" class="icon icon--grande-scene">Grande scene</a>
            </p>
            <h2>Tags sans texte</h2>
            <p>
              <a href="" class="icon icon--solo icon--toernee-general"></a>
              <a href="" class="icon icon--solo icon--studio"></a>
              <a href="" class="icon icon--solo icon--grande-scene"></a>
            </p>
          </div>
        </div>
      </section>

      <section class="activity__section extra-padding" id="distribution">
        <div class="container">
          <h3 class="section__title">Distribution</h3>
          <div class="section__body casting">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <h2>Texte</h2>
                <p>Vincent Hennebicq et Arieh Worhthalter</p>
                <h2>Texte</h2>
                <p>Vincent Hennebicq et Arieh Worhthalter</p>
                <h2>Texte</h2>
                <p>Vincent Hennebicq et Arieh Worhthalter</p>
                <h2>Texte</h2>
                <p>Vincent Hennebicq et Arieh Worhthalter</p>
              </div>
              <div class="col-xs-12 col-sm-6">
                <h2>Texte</h2>
                <p>Vincent Hennebicq et Arieh Worhthalter</p>
                <h2>Texte</h2>
                <p>Vincent Hennebicq et Arieh Worhthalter</p>
                <h2>Texte</h2>
                <p>Vincent Hennebicq et Arieh Worhthalter</p>
                <h2>Texte</h2>
                <p>Vincent Hennebicq et Arieh Worhthalter</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="activity__section extra-padding" id="calendrier">
        <div class="container">
          <h3 class="section__title">Calendrier</h3>
          <div class="section__body performance">
            <table class="performance__table">
              <tr class="performance__item">
                <td class="td--date">
                  <p>Jeudi <time datetime="2017-05-13">13.05.2017</time> 20h30</p> 
                </td>
                <td class="td--place">
                  <p>Grand salle</p>
                </td>
                <td class="td--ticket">
                  <a href="#" class="activity__ticket-link">Billets</a>
                </td>
              </tr>              <tr class="performance__item">
                <td class="td--date">
                  <p>Jeudi <time datetime="2017-05-13">13.05.2017</time> 20h30</p> 
                </td>
                <td class="td--place">
                  <p>Grand salle</p>
                </td>
                <td class="td--ticket">
                  <a href="#" class="activity__ticket-link">Billets</a>
                </td>
              </tr>              <tr class="performance__item">
                <td class="td--date">
                  <p>Jeudi <time datetime="2017-05-13">13.05.2017</time> 20h30</p> 
                </td>
                <td class="td--place">
                  <p>Grand salle</p>
                </td>
                <td class="td--ticket">
                  <a href="#" class="activity__ticket-link">Billets</a>
                </td>
              </tr>              <tr class="performance__item">
                <td class="td--date">
                  <p>Jeudi <time datetime="2017-05-13">13.05.2017</time> 20h30</p> 
                </td>
                <td class="td--place">
                  <p>Grand salle</p>
                </td>
                <td class="td--ticket">
                  <a href="#" class="activity__ticket-link">Billets</a>
                </td>
              </tr>            </table>
          </div>
        </div>
      </section>

      <section class="activity__section extra-padding">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <h3 class="section__title">Autour du spectacle</h3>
              <div class="section__body">
                <ul class="events">
                  <li class="events-item">
                    <h2 class="event__title">La nature, amie ou ennemie ?</h2>
                    <h3 class="event__subtitle">Débat à l'issue de la réprésentation</h3>
                    <time datetime="2017-05-21" class="event__time">21.05.2017</time>
                    <a href="#" class="button button--more">infos</a>
                  </li>                  <li class="events-item">
                    <h2 class="event__title">La nature, amie ou ennemie ?</h2>
                    <h3 class="event__subtitle">Débat à l'issue de la réprésentation</h3>
                    <time datetime="2017-05-21" class="event__time">21.05.2017</time>
                    <a href="#" class="button button--more">infos</a>
                  </li>                  <li class="events-item">
                    <h2 class="event__title">La nature, amie ou ennemie ?</h2>
                    <h3 class="event__subtitle">Débat à l'issue de la réprésentation</h3>
                    <time datetime="2017-05-21" class="event__time">21.05.2017</time>
                    <a href="#" class="button button--more">infos</a>
                  </li>                  <li class="events-item">
                    <h2 class="event__title">La nature, amie ou ennemie ?</h2>
                    <h3 class="event__subtitle">Débat à l'issue de la réprésentation</h3>
                    <time datetime="2017-05-21" class="event__time">21.05.2017</time>
                    <a href="#" class="button button--more">infos</a>
                  </li>                </ul>
              </div>
            </div>
            <div class="col-sm-6">
              <h3 class="section__title">Dans le cadre de</h3>
              <ul class="events">
                <li class="events-item">
                  <h2 class="event__title">La nature, amie ou ennemie ?</h2>
                  <h3 class="event__subtitle">Débat à l'issue de la réprésentation</h3>
                  <time datetime="2017-05-21" class="event__time">21.05.2017</time>
                  <a href="#" class="button button--more">infos</a>
                </li>              </ul>
            </div>
            <div class="col-sm-12">
              <h3 class="section__title">Téléchargements</h3>
              <ul class="downloads">
                <li class="downloads__item"><a href="#" class="downloads__link icon icon--file">Dossier pédagogique (pdf)</a></li>                <li class="downloads__item"><a href="#" class="downloads__link icon icon--file">Dossier pédagogique (pdf)</a></li>                <li class="downloads__item"><a href="#" class="downloads__link icon icon--file">Dossier pédagogique (pdf)</a></li>              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="activity__section extra-padding related">
        <div class="container">
          <h3 class="section__title">Vous aimeriez aussi</h3>
          <ul class="row">
            <li class="activities-item">
              <article class="activity">
                <a href="../../patterns/templates-activity/templates-activity.html" class="activity__link">
                  <div class="activity__block">
                    <figure class="activity__figure">
                      <div class="figure__inner" style="background-image:url('../../../../assets/images/activity.jpg')"></div>
                      <img src="../../../../assets/images/activity.jpg" alt="Activity Title">
                    </figure>
                  </div>
                  <div class="activity__block">
                    <h2 class="activity__title">Is there life on Mars?</h2>
                    <h3 class="activity__subtitle">Compagnie What's up?!</h3>
                    <p class="activity__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae maxime architecto, temporibus dolor.</p>
                    <div class="activity__time">
                      <time datetime="2017-05-05">05</time> - <time datetime="2017-05-13">13.05.2017</time>          
                    </div>
                  </div>
                </a>
                <div class="activity__block">
                  <a href="#" class="activity__ticket-link">Billets</a>
                   <ul class="tags icon icon--tag">
                    <li class="tags__item"><a href="#" class="tags__link">Théâtre</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Nature</a></li>
                  </ul>                </div>
              </article>
            </li>            <li class="activities-item">
              <article class="activity">
                <a href="../../patterns/templates-activity/templates-activity.html" class="activity__link">
                  <div class="activity__block">
                    <figure class="activity__figure">
                      <div class="figure__inner" style="background-image:url('../../../../assets/images/activity.jpg')"></div>
                      <img src="../../../../assets/images/activity.jpg" alt="Activity Title">
                    </figure>
                  </div>
                  <div class="activity__block">
                    <h2 class="activity__title">Is there life on Mars?</h2>
                    <h3 class="activity__subtitle">Compagnie What's up?!</h3>
                    <p class="activity__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae maxime architecto, temporibus dolor.</p>
                    <div class="activity__time">
                      <time datetime="2017-05-05">05</time> - <time datetime="2017-05-13">13.05.2017</time>          
                    </div>
                  </div>
                </a>
                <div class="activity__block">
                  <a href="#" class="activity__ticket-link">Billets</a>
                   <ul class="tags icon icon--tag">
                    <li class="tags__item"><a href="#" class="tags__link">Théâtre</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Nature</a></li>
                  </ul>                </div>
              </article>
            </li>            <li class="activities-item">
              <article class="activity">
                <a href="../../patterns/templates-activity/templates-activity.html" class="activity__link">
                  <div class="activity__block">
                    <figure class="activity__figure">
                      <div class="figure__inner" style="background-image:url('../../../../assets/images/activity.jpg')"></div>
                      <img src="../../../../assets/images/activity.jpg" alt="Activity Title">
                    </figure>
                  </div>
                  <div class="activity__block">
                    <h2 class="activity__title">Is there life on Mars?</h2>
                    <h3 class="activity__subtitle">Compagnie What's up?!</h3>
                    <p class="activity__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae maxime architecto, temporibus dolor.</p>
                    <div class="activity__time">
                      <time datetime="2017-05-05">05</time> - <time datetime="2017-05-13">13.05.2017</time>          
                    </div>
                  </div>
                </a>
                <div class="activity__block">
                  <a href="#" class="activity__ticket-link">Billets</a>
                   <ul class="tags icon icon--tag">
                    <li class="tags__item"><a href="#" class="tags__link">Théâtre</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Nature</a></li>
                  </ul>                </div>
              </article>
            </li>          </ul>
        </div>
      </section>

    </article>
</main>

<footer class="footer footer--primary">
  <section class="footer__links extra-padding">
    <h2 aria-hidden="true" class="hidden">Théâtre National - Footer</h2>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-2">
          <section class="footer__section section__contact">
            <h2>Contact</h2>
            <p class="icon icon--pointer">Blvd Emile Jacqmain<br>111-115<br>1000 Bruxelles</p>
            <p class="icon icon--mail"><a href="#">info@theatrenational.be</a></p>
            <p class="icon icon--phone"><a href="#">+32 2 203 41 55</a></p>
          </section>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <section class="footer__section section__ticketing">
            <h2>Billeterie</h2>
            <p class="icon icon--time">Du lundi au samedi de 11h à 18h</p>
            <p class="icon icon--phone"><a href="#">+32 2 203 53 03</a></p>
          </section>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <section class="footer__section section__newsletter">
            <h2>Newsletter</h2>
            <form method="POST" action="http://truc.truc" accept-charset="UTF-8" class="form form--newsletter" id="newsletter-form">
              <fieldset>
                <legend>S'inscrire à notre newsletter</legend>
                <input name="_token" type="hidden" value="">
                <div class="form__container">
                  <input class="form__input" name="email" id="email" type="email" placeholder="Votre adresse e-mail" required="">
                  <button class="button form__submit icon icon--arrow" type="submit">Inscription</button>
                </div>
              </fieldset>
            </form>
          </section>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2">
          <section class="footer__section section__follow">
            <h2>Suivez-nous</h2>
            <ul class="social-list">
              <li class="social-item icon icon--facebook"><a href="#">Facebook</a></li>
              <li class="social-item icon icon--twitter"><a href="#">Twitter</a></li>
              <li class="social-item icon icon--instagram"><a href="#">Instagram</a></li>
              <li class="social-item icon icon--googleplus"><a href="#">Google Plus</a></li>
            </ul>
          </section>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2">
           <section class="footer__section section__sitemap">
              <h2>Perdu ?</h2>
              <p class="icon icon--map"><a href="#">Plan du site</a></p>
            </section>
        </div>
      </div>
    </div>
  </section>
  <section class="footer__info extra-padding">
    <div class="container">
      <div class="footer-info__box">
        <h2 class="logo"><a href="#" class="logo__link"><img src="../../../../assets/images/tn-logo.svg" alt="Théâtre National"></a></h2>
      </div>
    </div>
  </section>
</footer>
