<li class="activities-item activities-item--full activities-item--medium">
  <article class="activity">
    <a href="../../patterns/templates-activity/templates-activity.html" class="activity__link activity__link--bg-image" style="background-image:url('../../../../assets/images/activity.jpg')">
      <h2 class="activity__title">Is there life on Mars?</h2>
      <h3 class="activity__subtitle">Compagnie What's up?!</h3>
      <div class="activity__time">
        <time datetime="2017-05-05">05</time> - <time datetime="2017-05-13">13.05.2017</time>          
      </div>
    </a>
    <a href="#" class="activity__ticket-link">Billets</a>
  </article>
</li>